<a href="https://colab.research.google.com/github/kjeyaram-orcl/DataScience/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Creating Objects

In [ ]:
import pandas as pd

# Calling Series using list
df = pd.DataFrame()

print(df)

lst = ['Hello', 'pandas', 'This', 'is', 'Karthik']

df = pd.Series(lst)

print(df)

Empty DataFrame
Columns: []
Index: []
0      Hello
1     pandas
2       This
3         is
4    Karthik
dtype: object

In [ ]:
import pandas as pd
import numpy as np

# Calling Series using numpy function

ser=np.arange(10,15)
serobj=pd.Series(data=ser*5,index=ser)

print(serobj)

10    50
11    55
12    60
13    65
14    70
dtype: int64

In [ ]:
import pandas as pd

# Calling DataFrame using list
df = pd.DataFrame()

print(df)

lst = ['Hello', 'pandas', 'This', 'is', 'Karthik']

df = pd.DataFrame(lst)

print(df)

Empty DataFrame
Columns: []
Index: []
         0
0    Hello
1   pandas
2     This
3       is
4  Karthik

In [ ]:
import pandas as pd

# Calling DataFrame using dictionary with custom index
df = pd.DataFrame()

dict = {'name':["A", "B", "C", "D"],
        'degree': ["MBA", "BCA", "ME", "BE"],
        'score':[90, 75, 80, 98]}

df = pd.DataFrame(dict,index=['11','22','33','44'])

print(df)

   name degree  score
11    A    MBA     90
22    B    BCA     75
33    C     ME     80
44    D     BE     98

In [ ]:
import pandas as pd

# Calling DataFrame using dictionary and create Series using df index
df = pd.DataFrame()

dict = {'name':["A", "B", "C", "D"],
        'degree': ["MBA", "BCA", "ME", "BE"],
        'score':[90, 75, 80, 98]}

df = pd.DataFrame(dict)

ser = pd.Series(df['score'])

print(ser)

0    90
1    75
2    80
3    98
Name: score, dtype: int64

#Viewing Data

In [ ]:
import pandas as pd

print("Create csv and return top 5 rows")

data = pd.read_csv('/home/nba.csv')
print (data.head(5)) # read top 5 rows

print("Create Series and return top 5 rows")

df = pd.Series(data['Name'])
print(df.head(5))

Create csv and return top 5 rows
            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

             College     Salary
0              Texas  7730337.0
1          Marquette  6796117.0
2  Boston University        NaN
3      Georgia State  1148640.0
4                NaN  5000000.0
Create Series and return top 5 rows
0    Avery Bradley
1      Jae Crowder
2     John Holland
3      R.J. Hunter
4    Jonas Jerebko
Name: Name, dtype: object

In [ ]:
import pandas as pd

print("Create csv and return last 5 rows")

data = pd.read_csv('/home/nba.csv')
print (data.tail(5)) # read top 5 rows

print("Create Series and return last 5 rows")

df = pd.Series(data['Name'])

print(df.tail(5))

Create csv and return last 5 rows
             Name       Team  Number Position   Age Height  Weight College  \
453  Shelvin Mack  Utah Jazz     8.0       PG  26.0    6-3   203.0  Butler
454     Raul Neto  Utah Jazz    25.0       PG  24.0    6-1   179.0     NaN
455  Tibor Pleiss  Utah Jazz    21.0        C  26.0    7-3   256.0     NaN
456   Jeff Withey  Utah Jazz    24.0        C  26.0    7-0   231.0  Kansas
457           NaN        NaN     NaN      NaN   NaN    NaN     NaN     NaN

        Salary
453  2433333.0
454   900000.0
455  2900000.0
456   947276.0
457        NaN
Create Series and return last 5 rows
453    Shelvin Mack
454       Raul Neto
455    Tibor Pleiss
456     Jeff Withey
457             NaN
Name: Name, dtype: object

In [ ]:
import pandas as pd

print("Create csv and return last 5 rows using loc()")

data = pd.read_csv('/home/nba.csv')

print (data.loc[0:4]) # read top 5 rows

Create csv and return last 5 rows using loc()
            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

             College     Salary
0              Texas  7730337.0
1          Marquette  6796117.0
2  Boston University        NaN
3      Georgia State  1148640.0
4                NaN  5000000.0

In [ ]:
import pandas as pd

print("View some basic statistical details")

data = pd.read_csv('/content/nba.csv')

print(data.info()) #print details of columns

print (data.describe()) #print statistical details

print (data['Name'].describe()) #print column statistics

View some basic statistical details
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB
None
           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07
count               457
unique              457
top       Avery Bradley
freq                  1
Name: Name, dtype: object

#Selection and Slicing

In [ ]:
import pandas as pd

# Select columns from DataFrame

df = pd.read_csv('/content/nba.csv')

print(df[['Name','Salary']].head(20))

                       Name      Salary
0             Avery Bradley   7730337.0
1               Jae Crowder   6796117.0
2              John Holland         NaN
3               R.J. Hunter   1148640.0
4             Jonas Jerebko   5000000.0
5              Amir Johnson  12000000.0
6             Jordan Mickey   1170960.0
7              Kelly Olynyk   2165160.0
8              Terry Rozier   1824360.0
9              Marcus Smart   3431040.0
10          Jared Sullinger   2569260.0
11            Isaiah Thomas   6912869.0
12              Evan Turner   3425510.0
13              James Young   1749840.0
14             Tyler Zeller   2616975.0
15         Bojan Bogdanovic   3425510.0
16             Markel Brown    845059.0
17          Wayne Ellington   1500000.0
18  Rondae Hollis-Jefferson   1335480.0
19             Jarrett Jack   6300000.0

In [ ]:
import pandas as pd

# Add columns to DataFrame

df = pd.read_csv('/content/nba.csv')

x = range(1,459)
df['Index']=x

print(df[['Name','Salary','Index']].head(20))

                       Name      Salary  Index
0             Avery Bradley   7730337.0      1
1               Jae Crowder   6796117.0      2
2              John Holland         NaN      3
3               R.J. Hunter   1148640.0      4
4             Jonas Jerebko   5000000.0      5
5              Amir Johnson  12000000.0      6
6             Jordan Mickey   1170960.0      7
7              Kelly Olynyk   2165160.0      8
8              Terry Rozier   1824360.0      9
9              Marcus Smart   3431040.0     10
10          Jared Sullinger   2569260.0     11
11            Isaiah Thomas   6912869.0     12
12              Evan Turner   3425510.0     13
13              James Young   1749840.0     14
14             Tyler Zeller   2616975.0     15
15         Bojan Bogdanovic   3425510.0     16
16             Markel Brown    845059.0     17
17          Wayne Ellington   1500000.0     18
18  Rondae Hollis-Jefferson   1335480.0     19
19             Jarrett Jack   6300000.0     20

In [ ]:
import pandas as pd

# drop columns from DataFrame

df = pd.read_csv('/content/nba.csv')

print(df.drop(['Weight','College','Salary'], axis = 1).head(20))

                       Name            Team  Number Position   Age Height
0             Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2
1               Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6
2              John Holland  Boston Celtics    30.0       SG  27.0    6-5
3               R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5
4             Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10
5              Amir Johnson  Boston Celtics    90.0       PF  29.0    6-9
6             Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8
7              Kelly Olynyk  Boston Celtics    41.0        C  25.0    7-0
8              Terry Rozier  Boston Celtics    12.0       PG  22.0    6-2
9              Marcus Smart  Boston Celtics    36.0       PG  22.0    6-4
10          Jared Sullinger  Boston Celtics     7.0        C  24.0    6-9
11            Isaiah Thomas  Boston Celtics     4.0       PG  27.0    5-9
12              Evan Turner  Boston Celtics    11.0       SG  27.0    6-7
13              James Young  Boston Celtics    13.0       SG  20.0    6-6
14             Tyler Zeller  Boston Celtics    44.0        C  26.0    7-0
15         Bojan Bogdanovic   Brooklyn Nets    44.0       SG  27.0    6-8
16             Markel Brown   Brooklyn Nets    22.0       SG  24.0    6-3
17          Wayne Ellington   Brooklyn Nets    21.0       SG  28.0    6-4
18  Rondae Hollis-Jefferson   Brooklyn Nets    24.0       SG  21.0    6-7
19             Jarrett Jack   Brooklyn Nets     2.0       PG  32.0    6-3

In [ ]:

import pandas as pd

data = pd.read_csv('/content/nba.csv',index_col='Name')

# retrieving row by loc method
res = data.loc["Avery Bradley"]
print(res)

Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object

In [ ]:

import pandas as pd

res = pd.read_csv('/content/nba.csv')

print(res.head(5))

new_row = pd.DataFrame({'Name':'Karthik', 'Team':'Boston', 'Number':3,
                        'Position':'PG', 'Age':33, 'Height':'6-2',
                        'Weight':189, 'College':'MIT', 'Salary':99999},
                                                            index =[0])
# To add rows, create new row dataframe, concatenate both dataframes and reset index
df = pd.concat([new_row, res]).reset_index(drop=True)
df.head(5)

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

             College     Salary
0              Texas  7730337.0
1          Marquette  6796117.0
2  Boston University        NaN
3      Georgia State  1148640.0
4                NaN  5000000.0

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Karthik,Boston,3.0,PG,33.0,6-2,189.0,MIT,99999.0
1,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
2,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
3,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
4,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0

In [ ]:
import pandas as pd

data = pd.read_csv('/content/nba.csv', index_col ='Name' )

print(data['Salary'].head(5))

# dropping passed rows
data.drop(["Avery Bradley"], inplace = True)

print(data['Salary'].head(5))

Name
Avery Bradley    7730337.0
Jae Crowder      6796117.0
John Holland           NaN
R.J. Hunter      1148640.0
Jonas Jerebko    5000000.0
Name: Salary, dtype: float64
Name
Jae Crowder       6796117.0
John Holland            NaN
R.J. Hunter       1148640.0
Jonas Jerebko     5000000.0
Amir Johnson     12000000.0
Name: Salary, dtype: float64

In [ ]:
import pandas as pd

data = pd.read_csv('/content/nba.csv', index_col ='Name' )

# retrieving single/multiple row by loc method
rows= data.loc[['Avery Bradley','Jae Crowder']]
print(type(rows))
print(rows)

<class 'pandas.core.frame.DataFrame'>
                         Team  Number Position   Age Height  Weight  \
Name
Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
Jae Crowder    Boston Celtics    99.0       SF  25.0    6-6   235.0

                 College     Salary
Name
Avery Bradley      Texas  7730337.0
Jae Crowder    Marquette  6796117.0

In [ ]:
import pandas as pd

data = pd.read_csv('/content/nba.csv', index_col ='College' )

# Extracting multiple rows with same index
rows= data.loc[['Washington']]
print(type(rows))
print(rows[['Name','Salary']].head(15))

<class 'pandas.core.frame.DataFrame'>
                        Name     Salary
College
Washington     Isaiah Thomas  6912869.0
Washington       Tony Wroten   167406.0
Washington     Terrence Ross  3553917.0
Washington       C.J. Wilcox  1159680.0
Washington    Justin Holiday   947276.0
Washington  Quincy Pondexter  3382023.0
Washington     Spencer Hawes  6110034.0

In [ ]:
import pandas as pd

data = pd.read_csv('/content/nba.csv', index_col ="Name")

#  Extracting rows between two index labels
rows = data.loc["Avery Bradley":"Isaiah Thomas"]

rows

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0

In [ ]:
import pandas as pd

data = pd.read_csv('/content/nba.csv')

#Extracting multiple rows using a slice
data.iloc[0:5,0:4]

            Name            Team  Number Position
0  Avery Bradley  Boston Celtics     0.0       PG
1    Jae Crowder  Boston Celtics    99.0       SF
2   John Holland  Boston Celtics    30.0       SG
3    R.J. Hunter  Boston Celtics    28.0       SG
4  Jonas Jerebko  Boston Celtics     8.0       PF

In [35]:
import pandas as pd
# filtering data with boolean index

# dictionary of lists
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}

df = pd.DataFrame(dict, index = [True, False, True, False])

print(df.loc[True]) # Accessing a DataFrame with a boolean index

        name  degree  score
True  aparna     MBA     90
True  sudhir  M.Tech     80

In [12]:
import pandas as pd

# filtering data with boolean index

# dictionary of lists
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}

df = pd.DataFrame(dict, index = [0, 1, 2, 3])

print(df[[True,False,False,True]]) # Applying a boolean mask to a dataframe :

     name degree  score
0  aparna    MBA     90
3   Geeku    MBA     98

In [34]:
import pandas as pd

data = pd.read_csv('/content/nba.csv')

#Masking data based on column value
mask=data['Age'] > 38
print(data[mask])

#Masking data based on index value
idx=range(0,457)
df =pd.DataFrame(data, index=idx)
mask = df.index >=456
print(df[mask])

               Name                    Team  Number Position   Age Height  \
102  Pablo Prigioni    Los Angeles Clippers     9.0       PG  39.0    6-3
261    Vince Carter       Memphis Grizzlies    15.0       SG  39.0    6-6
298      Tim Duncan       San Antonio Spurs    21.0        C  40.0   6-11
304    Andre Miller       San Antonio Spurs    24.0       PG  40.0    6-3
400   Kevin Garnett  Minnesota Timberwolves    21.0       PF  40.0   6-11

     Weight         College     Salary
102   185.0             NaN   947726.0
261   220.0  North Carolina  4088019.0
298   250.0     Wake Forest  5250000.0
304   200.0            Utah   250750.0
400   240.0             NaN  8500000.0
            Name       Team  Number Position   Age Height  Weight College  \
456  Jeff Withey  Utah Jazz    24.0        C  26.0    7-0   231.0  Kansas

       Salary
456  947276.0

# Data Cleaning

In [ ]:
import pandas as pd

rs = pd.read_csv('/content/data.csv')

#pd.options.display.max_rows = 9999

print (rs.head(60))

# remove null values
#print(rs.dropna()) # Please note dropna() returns new DataFrame

# replace null values with some value
rs['Calories'].fillna(130, inplace=True) # use the inplace = True to change the original DataFrame

print(rs)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      26/12/20    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0
    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112     130.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      26/12/20    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132     130.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [ ]:
import pandas as pd

#A common way to replace empty cells, is to calculate the mean, median or mode value of the column

rs = pd.read_csv('/content/data.csv')

#print (rs.head(60))

#x = rs['Calories'].mean()
x = rs['Calories'].median()
#x = rs['Calories'].mode()[0]
#print (x)

# replace null values with some value
rs['Calories'].fillna(x, inplace=True) # use the inplace = True to change the original DataFrame

print(rs)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112     291.2
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      26/12/20    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132     291.2
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [ ]:
import pandas as pd

#A common way to replace empty cells, is to calculate the mean, median or mode value of the column

rs = pd.read_csv('/content/data.csv')

#print (rs.head(60))

print("Fix empty cell")

x = rs['Calories'].mean()
#x = rs['Calories'].median()
#x = rs['Calories'].mode()[0]
#print (x)
# replace null values with some value
rs['Calories'].fillna(x, inplace=True) # use the inplace = True to change the original DataFrame
print(rs)

print("Fix wrong format")
print(rs.info())
rs['Date'] = pd.to_datetime(rs['Date']) #convert object to date
print(rs.info())
rs.dropna(subset=['Date'],inplace=True) #remove NAT from dateset and remove those rows
print(rs)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130    409.10
1         60  '2020/12/02'    117       145    479.00
2         60  '2020/12/03'    103       135    340.00
3         45  '2020/12/04'    109       175    282.40
4         45  '2020/12/05'    117       148    406.00
5         60  '2020/12/06'    102       127    300.00
6         60  '2020/12/07'    110       136    374.00
7        450  '2020/12/08'    104       134    253.30
8         30  '2020/12/09'    109       133    195.10
9         60  '2020/12/10'     98       124    269.00
10        60  '2020/12/11'    103       147    329.30
11        60  '2020/12/12'    100       120    250.70
12        60  '2020/12/12'    100       120    250.70
13        60  '2020/12/13'    106       128    345.30
14        60  '2020/12/14'    104       132    379.30
15        60  '2020/12/15'     98       123    275.00
16        60  '2020/12/16'     98       120    215.20
17        60  '2020/12/17'    100       120    300.00
18        45  '2020/12/18'     90       112    304.68
19        60  '2020/12/19'    103       123    323.00
20        45  '2020/12/20'     97       125    243.00
21        60  '2020/12/21'    108       131    364.20
22        45           NaN    100       119    282.00
23        60  '2020/12/23'    130       101    300.00
24        45  '2020/12/24'    105       132    246.00
25        60  '2020/12/25'    102       126    334.50
26        60      26/12/20    100       120    250.00
27        60  '2020/12/27'     92       118    241.00
28        60  '2020/12/28'    103       132    304.68
29        60  '2020/12/29'    100       132    280.00
30        60  '2020/12/30'    102       129    380.30
31        60  '2020/12/31'     92       115    243.00
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  32 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     datetime64[ns]
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  32 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 1.4 KB
None
    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130    409.10
1         60 2020-12-02    117       145    479.00
2         60 2020-12-03    103       135    340.00
3         45 2020-12-04    109       175    282.40
4         45 2020-12-05    117       148    406.00
5         60 2020-12-06    102       127    300.00
6         60 2020-12-07    110       136    374.00
7        450 2020-12-08    104       134    253.30
8         30 2020-12-09    109       133    195.10
9         60 2020-12-10     98       124    269.00
10        60 2020-12-11    103       147    329.30
11        60 2020-12-12    100       120    250.70
12        60 2020-12-12    100       120    250.70
13        60 2020-12-13    106       128    345.30
14        60 2020-12-14    104       132    379.30
15        60 2020-12-15     98       123    275.00
16        60 2020-12-16     98       120    215.20
17        60 2020-12-17    100       120    300.00
18        45 2020-12-18     90       112    304.68
19        60 2020-12-19    103       123    323.00
20        45 2020-12-20     97       125    243.00
21        60 2020-12-21    108       131    364.20
23        60 2020-12-23    130       101    300.00
24        45 2020-12-24    105       132    246.00
25        60 2020-12-25    102       126    334.50
26        60 2020-12-26    100       120    250.00
27        60 2020-12-27     92       118    241.00
28        60 2020-12-28    103       132    304.68
29        60 2020-12-29    100       132    280.00
30        60 2020-12-30    102       129    380.30
31        60 2020-12-31     92       115    243.00

In [ ]:
import pandas as pd

#A common way to replace empty cells, is to calculate the mean, median or mode value of the column

rs = pd.read_csv('/content/data.csv')

#print (rs.head(60))

print("Fix empty cell")

x = rs['Calories'].mean()
#x = rs['Calories'].median()
#x = rs['Calories'].mode()[0]
#print (x)
# replace null values with some value
rs['Calories'].fillna(x, inplace=True) # use the inplace = True to change the original DataFrame
print(rs)

print("Fix wrong format")
print(rs.info())
rs['Date'] = pd.to_datetime(rs['Date']) #convert object to date
print(rs.info())
rs.dropna(subset=['Date'],inplace=True) #remove NAT from dateset and remove those rows
print(rs)

print("Fix wrong data")

for x in rs.index:
  if rs.loc[x,'Duration'] > 120:
    rs.loc[x,'Duration']=120 #Loop through all values in the "Duration" column and replace values
    #rs.drop(x,inplace=True) #Loop through all values in the "Duration" column and remove rows
print(rs)

Fix empty cell
    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130    409.10
1         60  '2020/12/02'    117       145    479.00
2         60  '2020/12/03'    103       135    340.00
3         45  '2020/12/04'    109       175    282.40
4         45  '2020/12/05'    117       148    406.00
5         60  '2020/12/06'    102       127    300.00
6         60  '2020/12/07'    110       136    374.00
7        450  '2020/12/08'    104       134    253.30
8         30  '2020/12/09'    109       133    195.10
9         60  '2020/12/10'     98       124    269.00
10        60  '2020/12/11'    103       147    329.30
11        60  '2020/12/12'    100       120    250.70
12        60  '2020/12/12'    100       120    250.70
13        60  '2020/12/13'    106       128    345.30
14        60  '2020/12/14'    104       132    379.30
15        60  '2020/12/15'     98       123    275.00
16        60  '2020/12/16'     98       120    215.20
17        60  '2020/12/17'    100       120    300.00
18        45  '2020/12/18'     90       112    304.68
19        60  '2020/12/19'    103       123    323.00
20        45  '2020/12/20'     97       125    243.00
21        60  '2020/12/21'    108       131    364.20
22        45           NaN    100       119    282.00
23        60  '2020/12/23'    130       101    300.00
24        45  '2020/12/24'    105       132    246.00
25        60  '2020/12/25'    102       126    334.50
26        60      26/12/20    100       120    250.00
27        60  '2020/12/27'     92       118    241.00
28        60  '2020/12/28'    103       132    304.68
29        60  '2020/12/29'    100       132    280.00
30        60  '2020/12/30'    102       129    380.30
31        60  '2020/12/31'     92       115    243.00
Fix wrong format
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  32 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     datetime64[ns]
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  32 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 1.4 KB
None
    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130    409.10
1         60 2020-12-02    117       145    479.00
2         60 2020-12-03    103       135    340.00
3         45 2020-12-04    109       175    282.40
4         45 2020-12-05    117       148    406.00
5         60 2020-12-06    102       127    300.00
6         60 2020-12-07    110       136    374.00
7        450 2020-12-08    104       134    253.30
8         30 2020-12-09    109       133    195.10
9         60 2020-12-10     98       124    269.00
10        60 2020-12-11    103       147    329.30
11        60 2020-12-12    100       120    250.70
12        60 2020-12-12    100       120    250.70
13        60 2020-12-13    106       128    345.30
14        60 2020-12-14    104       132    379.30
15        60 2020-12-15     98       123    275.00
16        60 2020-12-16     98       120    215.20
17        60 2020-12-17    100       120    300.00
18        45 2020-12-18     90       112    304.68
19        60 2020-12-19    103       123    323.00
20        45 2020-12-20     97       125    243.00
21        60 2020-12-21    108       131    364.20
23        60 2020-12-23    130       101    300.00
24        45 2020-12-24    105       132    246.00
25        60 2020-12-25    102       126    334.50
26        60 2020-12-26    100       120    250.00
27        60 2020-12-27     92       118    241.00
28        60 2020-12-28    103       132    304.68
29        60 2020-12-29    100       132    280.00
30        60 2020-12-30    102       129    380.30
31        60 2020-12-31     92       115    243.00
Fix wrong data
    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130    409.10
1         60 2020-12-02    117       145    479.00
2         60 2020-12-03    103       135    340.00
3         45 2020-12-04    109       175    282.40
4         45 2020-12-05    117       148    406.00
5         60 2020-12-06    102       127    300.00
6         60 2020-12-07    110       136    374.00
7        120 2020-12-08    104       134    253.30
8         30 2020-12-09    109       133    195.10
9         60 2020-12-10     98       124    269.00
10        60 2020-12-11    103       147    329.30
11        60 2020-12-12    100       120    250.70
12        60 2020-12-12    100       120    250.70
13        60 2020-12-13    106       128    345.30
14        60 2020-12-14    104       132    379.30
15        60 2020-12-15     98       123    275.00
16        60 2020-12-16     98       120    215.20
17        60 2020-12-17    100       120    300.00
18        45 2020-12-18     90       112    304.68
19        60 2020-12-19    103       123    323.00
20        45 2020-12-20     97       125    243.00
21        60 2020-12-21    108       131    364.20
23        60 2020-12-23    130       101    300.00
24        45 2020-12-24    105       132    246.00
25        60 2020-12-25    102       126    334.50
26        60 2020-12-26    100       120    250.00
27        60 2020-12-27     92       118    241.00
28        60 2020-12-28    103       132    304.68
29        60 2020-12-29    100       132    280.00
30        60 2020-12-30    102       129    380.30
31        60 2020-12-31     92       115    243.00

In [ ]:
import pandas as pd

#A common way to replace empty cells, is to calculate the mean, median or mode value of the column

rs = pd.read_csv('/content/data.csv')

#print (rs.head(60))

print("Fix empty cell")

x = rs['Calories'].mean()
#x = rs['Calories'].median()
#x = rs['Calories'].mode()[0]
#print (x)
# replace null values with some value
rs['Calories'].fillna(x, inplace=True) # use the inplace = True to change the original DataFrame
print(rs)

print("Fix wrong format")
print(rs.info())
rs['Date'] = pd.to_datetime(rs['Date']) #convert object to date
print(rs.info())
rs.dropna(subset=['Date'],inplace=True) #remove NAT from dateset and remove those rows
print(rs)

print("Fix wrong data")

for x in rs.index:
  if rs.loc[x,'Duration'] > 120:
    rs.loc[x,'Duration']=120 #Loop through all values in the "Duration" column and replace values
    #rs.drop(x,inplace=True) #Loop through all values in the "Duration" column and remove rows
print(rs)

print("Fix duplicate data")
rs.drop_duplicates(inplace=True)
print(rs)

Fix empty cell
    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130    409.10
1         60  '2020/12/02'    117       145    479.00
2         60  '2020/12/03'    103       135    340.00
3         45  '2020/12/04'    109       175    282.40
4         45  '2020/12/05'    117       148    406.00
5         60  '2020/12/06'    102       127    300.00
6         60  '2020/12/07'    110       136    374.00
7        450  '2020/12/08'    104       134    253.30
8         30  '2020/12/09'    109       133    195.10
9         60  '2020/12/10'     98       124    269.00
10        60  '2020/12/11'    103       147    329.30
11        60  '2020/12/12'    100       120    250.70
12        60  '2020/12/12'    100       120    250.70
13        60  '2020/12/13'    106       128    345.30
14        60  '2020/12/14'    104       132    379.30
15        60  '2020/12/15'     98       123    275.00
16        60  '2020/12/16'     98       120    215.20
17        60  '2020/12/17'    100       120    300.00
18        45  '2020/12/18'     90       112    304.68
19        60  '2020/12/19'    103       123    323.00
20        45  '2020/12/20'     97       125    243.00
21        60  '2020/12/21'    108       131    364.20
22        45           NaN    100       119    282.00
23        60  '2020/12/23'    130       101    300.00
24        45  '2020/12/24'    105       132    246.00
25        60  '2020/12/25'    102       126    334.50
26        60      26/12/20    100       120    250.00
27        60  '2020/12/27'     92       118    241.00
28        60  '2020/12/28'    103       132    304.68
29        60  '2020/12/29'    100       132    280.00
30        60  '2020/12/30'    102       129    380.30
31        60  '2020/12/31'     92       115    243.00
Fix wrong format
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  32 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     datetime64[ns]
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  32 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 1.4 KB
None
    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130    409.10
1         60 2020-12-02    117       145    479.00
2         60 2020-12-03    103       135    340.00
3         45 2020-12-04    109       175    282.40
4         45 2020-12-05    117       148    406.00
5         60 2020-12-06    102       127    300.00
6         60 2020-12-07    110       136    374.00
7        450 2020-12-08    104       134    253.30
8         30 2020-12-09    109       133    195.10
9         60 2020-12-10     98       124    269.00
10        60 2020-12-11    103       147    329.30
11        60 2020-12-12    100       120    250.70
12        60 2020-12-12    100       120    250.70
13        60 2020-12-13    106       128    345.30
14        60 2020-12-14    104       132    379.30
15        60 2020-12-15     98       123    275.00
16        60 2020-12-16     98       120    215.20
17        60 2020-12-17    100       120    300.00
18        45 2020-12-18     90       112    304.68
19        60 2020-12-19    103       123    323.00
20        45 2020-12-20     97       125    243.00
21        60 2020-12-21    108       131    364.20
23        60 2020-12-23    130       101    300.00
24        45 2020-12-24    105       132    246.00
25        60 2020-12-25    102       126    334.50
26        60 2020-12-26    100       120    250.00
27        60 2020-12-27     92       118    241.00
28        60 2020-12-28    103       132    304.68
29        60 2020-12-29    100       132    280.00
30        60 2020-12-30    102       129    380.30
31        60 2020-12-31     92       115    243.00
Fix wrong data
    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130    409.10
1         60 2020-12-02    117       145    479.00
2         60 2020-12-03    103       135    340.00
3         45 2020-12-04    109       175    282.40
4         45 2020-12-05    117       148    406.00
5         60 2020-12-06    102       127    300.00
6         60 2020-12-07    110       136    374.00
7        120 2020-12-08    104       134    253.30
8         30 2020-12-09    109       133    195.10
9         60 2020-12-10     98       124    269.00
10        60 2020-12-11    103       147    329.30
11        60 2020-12-12    100       120    250.70
12        60 2020-12-12    100       120    250.70
13        60 2020-12-13    106       128    345.30
14        60 2020-12-14    104       132    379.30
15        60 2020-12-15     98       123    275.00
16        60 2020-12-16     98       120    215.20
17        60 2020-12-17    100       120    300.00
18        45 2020-12-18     90       112    304.68
19        60 2020-12-19    103       123    323.00
20        45 2020-12-20     97       125    243.00
21        60 2020-12-21    108       131    364.20
23        60 2020-12-23    130       101    300.00
24        45 2020-12-24    105       132    246.00
25        60 2020-12-25    102       126    334.50
26        60 2020-12-26    100       120    250.00
27        60 2020-12-27     92       118    241.00
28        60 2020-12-28    103       132    304.68
29        60 2020-12-29    100       132    280.00
30        60 2020-12-30    102       129    380.30
31        60 2020-12-31     92       115    243.00
Fix duplicate data
    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130    409.10
1         60 2020-12-02    117       145    479.00
2         60 2020-12-03    103       135    340.00
3         45 2020-12-04    109       175    282.40
4         45 2020-12-05    117       148    406.00
5         60 2020-12-06    102       127    300.00
6         60 2020-12-07    110       136    374.00
7        120 2020-12-08    104       134    253.30
8         30 2020-12-09    109       133    195.10
9         60 2020-12-10     98       124    269.00
10        60 2020-12-11    103       147    329.30
11        60 2020-12-12    100       120    250.70
13        60 2020-12-13    106       128    345.30
14        60 2020-12-14    104       132    379.30
15        60 2020-12-15     98       123    275.00
16        60 2020-12-16     98       120    215.20
17        60 2020-12-17    100       120    300.00
18        45 2020-12-18     90       112    304.68
19        60 2020-12-19    103       123    323.00
20        45 2020-12-20     97       125    243.00
21        60 2020-12-21    108       131    364.20
23        60 2020-12-23    130       101    300.00
24        45 2020-12-24    105       132    246.00
25        60 2020-12-25    102       126    334.50
26        60 2020-12-26    100       120    250.00
27        60 2020-12-27     92       118    241.00
28        60 2020-12-28    103       132    304.68
29        60 2020-12-29    100       132    280.00
30        60 2020-12-30    102       129    380.30
31        60 2020-12-31     92       115    243.00