<a href="https://colab.research.google.com/github/kjeyaram-orcl/DataScience/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Creating Objects

In [1]:
import pandas as pd

# Calling Series using list
df = pd.DataFrame()

print(df)

lst = ['Hello', 'pandas', 'This', 'is', 'Karthik']

df = pd.Series(lst)

print(df)

Empty DataFrame
Columns: []
Index: []
0      Hello
1     pandas
2       This
3         is
4    Karthik
dtype: object

In [3]:
import pandas as pd

# Calling DataFrame using list
df = pd.DataFrame()

print(df)

lst = ['Hello', 'pandas', 'This', 'is', 'Karthik']

df = pd.DataFrame(lst)

print(df)

Empty DataFrame
Columns: []
Index: []
         0
0    Hello
1   pandas
2     This
3       is
4  Karthik

In [6]:
import pandas as pd

# Calling DataFrame using dictionary with custom index
df = pd.DataFrame()

dict = {'name':["A", "B", "C", "D"],
        'degree': ["MBA", "BCA", "ME", "BE"],
        'score':[90, 75, 80, 98]}

df = pd.DataFrame(dict,index=['11','22','33','44'])

print(df)

   name degree  score
11    A    MBA     90
22    B    BCA     75
33    C     ME     80
44    D     BE     98

In [5]:
import pandas as pd

# Calling DataFrame using dictionary and create Series using df index
df = pd.DataFrame()

dict = {'name':["A", "B", "C", "D"],
        'degree': ["MBA", "BCA", "ME", "BE"],
        'score':[90, 75, 80, 98]}

df = pd.DataFrame(dict)

ser = pd.Series(df['score'])

print(ser)

0    90
1    75
2    80
3    98
Name: score, dtype: int64