<a href="https://colab.research.google.com/github/kjeyaram-orcl/DataScience/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Creating Objects

In [1]:
import pandas as pd

# Calling Series using list
df = pd.DataFrame()

print(df)

lst = ['Hello', 'pandas', 'This', 'is', 'Karthik']

df = pd.Series(lst)

print(df)

Empty DataFrame
Columns: []
Index: []
0      Hello
1     pandas
2       This
3         is
4    Karthik
dtype: object

In [7]:
import pandas as pd
import numpy as np

# Calling Series using numpy function

ser=np.arange(10,15)
serobj=pd.Series(data=ser*5,index=ser)

print(serobj)

10    50
11    55
12    60
13    65
14    70
dtype: int64

In [3]:
import pandas as pd

# Calling DataFrame using list
df = pd.DataFrame()

print(df)

lst = ['Hello', 'pandas', 'This', 'is', 'Karthik']

df = pd.DataFrame(lst)

print(df)

Empty DataFrame
Columns: []
Index: []
         0
0    Hello
1   pandas
2     This
3       is
4  Karthik

In [6]:
import pandas as pd

# Calling DataFrame using dictionary with custom index
df = pd.DataFrame()

dict = {'name':["A", "B", "C", "D"],
        'degree': ["MBA", "BCA", "ME", "BE"],
        'score':[90, 75, 80, 98]}

df = pd.DataFrame(dict,index=['11','22','33','44'])

print(df)

   name degree  score
11    A    MBA     90
22    B    BCA     75
33    C     ME     80
44    D     BE     98

In [5]:
import pandas as pd

# Calling DataFrame using dictionary and create Series using df index
df = pd.DataFrame()

dict = {'name':["A", "B", "C", "D"],
        'degree': ["MBA", "BCA", "ME", "BE"],
        'score':[90, 75, 80, 98]}

df = pd.DataFrame(dict)

ser = pd.Series(df['score'])

print(ser)

0    90
1    75
2    80
3    98
Name: score, dtype: int64

#Viewing Data

In [10]:
import pandas as pd

data = pd.read_csv('/home/nba.csv')
print (data.head(5))

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

             College     Salary
0              Texas  7730337.0
1          Marquette  6796117.0
2  Boston University        NaN
3      Georgia State  1148640.0
4                NaN  5000000.0